<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bsod.tfg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".vista.App"
        android:allowBackup="true"
        android:icon="@drawable/posibleicon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        tools:replace="android:icon">
        <service
            android:name=".controlador.chat.ChatService"
            android:enabled="true" />

        <receiver android:name=".controlador.chat.ChatBroadcastReciever">
            <intent-filter>
                <action android:name="CHAT_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".vista.login.ActivitySplash"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name" />
        <activity
            android:name=".vista.otros.ActivitySearchUni"
            android:label="@string/title_activity_activity_buscar_uni"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".vista.login.ActivityRegister"
            android:label="@string/activity_register_label"
            android:parentActivityName=".vista.login.ActivitySplash">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vista.login.ActivitySplash" />
        </activity>
        <activity
            android:name=".vista.login.ActivityLogin"
            android:label="@string/activity_login_label"
            android:parentActivityName=".vista.login.ActivitySplash">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vista.login.ActivitySplash" />
        </activity>
        <activity
            android:name=".vista.otros.ActivitySettings"
            android:label="@string/activity_settings_name"
            android:parentActivityName=".ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bsod.tfg.ActivityMain" />
        </activity>
        <activity
            android:name=".vista.archivos.ActivitySolveExam"
            android:label="@string/activity_solve_exam_label"
            android:parentActivityName=".ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bsod.tfg.ActivityMain" />
        </activity>
        <activity
            android:name=".vista.tablon.ActivityMessageDetail"
            android:label="@string/activity_message_detail_label"
            android:parentActivityName=".ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bsod.tfg.ActivityMain" />
        </activity>
        <activity
            android:name=".vista.otros.ActivityChangePassword"
            android:label="@string/title_activity_activity_change_password" />
        <activity
            android:name=".vista.otros.ActivityChangeFaculty"
            android:label="@string/title_activity_activity_change_faculty" />
        <activity
            android:name=".vista.tablon.ActivityImageUserDetail"
            android:label="@string/title_activity_activity_image_user_detail"
            android:parentActivityName=".ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bsod.tfg.ActivityMain" />
        </activity>
    </application>

</manifest>
